<div class="container">
<div class="header d-flex justify-content-between align-items-center">

        <div class="header__site-name">Spice & Flavor</div>
        <ul class="header__navigation">
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">Home</a></li>
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">About us</a></li>
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">Menu</a></li>
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">Catering</a></li>
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">Hours and Location</a></li>
            <li class="d-inline-flex menu-item"><a href="#" class="menu-text">Contact</a></li>
        </ul>
        <div class="header__actions">
            <div class="d-flex ">
                <div class="btn-round me-2 btn-1">Online Order</div>
                <div class="btn-round btn-2">Reservations</div>
            </div>
           <object data="../../assets/Group 148.svg"></object>
        </div>
    </div>
</div>