<div class="header">
    <div class="header__site-name">Spice & Flavor</div>
    <div class="header__navigation">
        <div>Home</div>
        <div>About us</div>
        <div>Menu</div>
        <div>Catering</div>
        <div>Hours and Location</div>
        <div>Contact</div>
    </div>
    <div class="header__actions">
        <div>
            <div class="btn-round btn-1">Online Order</div>
            <div class="btn-round btn-2">Reservations</div>
        </div>
       <object data="../../assets/Group 148.svg"></object>
    </div>
</div>