<div class="container">
<div class="header">

        <div class="header__site-name">Spice & Flavor</div>
        <ul class="header__navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Hours and Location</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="header__actions">
            <div>
                <div class="btn-round btn-1">Online Order</div>
                <div class="btn-round btn-2">Reservations</div>
            </div>
           <object data="../../assets/Group 148.svg"></object>
        </div>
    </div>
</div>