<div>
    <!-- Header -->
    <app-header></app-header>
  
    <section class="full-section">
      <div class="container">
        <!-- hero section starts -->
        <div class="hero-section-wrap">
          <div class="quick-food-wrap">
            <div class="ideat-food-wrap">
              <h6>IdeateFood 🍔</h6>
            </div>
            <h1 class="quick-food-title">
              Quickest <span> Food Delivery </span> in Town
            </h1>
            <p class="quick-food-para">
              We will deliver your food within 30 minutes in your town,If we would
              fail,we will give the food free.
            </p>
  
            <div class="national-food-wrap">
              <div class="national-food-img-wrap">
                <img
                  src="../../assets/national-food-badge.png"
                  alt="national-food-badge"
                />
              </div>
  
              <div class="national-food-content-wrap">
                <h6>#1 National Food Service</h6>
                <p>2021 Best Service Award</p>
                <div class="content-img-wrap">
                  <img src="../../assets/voters-img.png" alt="voters" />
                </div>
              </div>
            </div>
          </div>
  
          <div class="hero-img-wrap">
            <img
              src="../../assets/hero-img-about-us.png"
              alt="hero-img-about-us"
            />
          </div>
        </div>
        <!-- hero section ends -->
  
        <!-- invite section starts -->
        <div class="invite-section-wrap">
          <div class="invite-top-border-wrap">
            <img
              src="../../assets/invite-top-border.png"
              alt="invite-top-border"
            />
          </div>
  
          <h1 class="invite-title">We invite you to visit our restaurant</h1>
          <p class="invite-para">
            Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam
            vitae amet repellat repudiandae tenetur, quod corrupti consectetur
            cum? Repudiandae dignissimos fugiat sit nam.
          </p>
          <div class="invite-img-cont">
            <div class="invite-img-wrap">
              <img src="../../assets/invite-img.png" alt="invite-img" />
            </div>
  
            <div class="social-wrapper">
              <a
                ><img src="../../assets/Group 8.svg" alt="facebook"
              /></a>
              <a
                ><img src="../../assets/Group 7.svg" alt="instagram"
              /></a>
              <a
                ><img src="../../assets/Group 6.svg" alt="twitter"
              /></a>
              <a
                ><img src="../../assets/Group 5.svg" alt="youtube"
              /></a>
            </div>
          </div>
  
          <div class="circle-img"></div>
        </div>
  
        <!-- invite section ends -->
  
        <!-- people choose section starts -->
        <div class="choose-section-wrap">
          <h6 class="feature-wrap">our features</h6>
  
          <h1 class="choose-title">Why people <span> choose us?</span></h1>
          <p class="choose-para">Porro eveniet, autem ipsam vitae consequatur!</p>
        </div>
        <!-- people choose section ends -->
      </div>
    </section>
  </div>
