<div>
    <!-- Header -->
    <app-header></app-header>

    <section class="full-section">
        <div class="container">
            <!-- hero section starts -->
            <div class="hero-section-wrap">
                <div class="quick-food-wrap">
                    <div class="ideat-food-wrap">
                        <h6>IdeateFood 🍔</h6>
                    </div>
                    <h1 class="quick-food-title">
                        Quickest <span> Food Delivery </span> in Town
                    </h1>
                    <p class="quick-food-para">
                        We will deliver your food within 30 minutes in your town,If we would
                        fail,we will give the food free.
                    </p>

                    <div class="national-food-wrap">
                        <div class="national-food-img-wrap">
                            <img src="../../assets/national-food-badge.png" alt="national-food-badge" />
                        </div>

                        <div class="national-food-content-wrap">
                            <h6>#1 National Food Service</h6>
                            <p>2021 Best Service Award</p>
                            <div class="content-img-wrap">
                                <img src="../../assets/voters-img.png" alt="voters" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero-img-wrap">
                    <img src="../../assets/hero-img-about-us.png" alt="hero-img-about-us" />
                </div>
            </div>
            <!-- hero section ends -->

            <!-- invite section starts -->
            <div class="invite-section-border">
                <img src="../../assets/invite-top-border.png" alt="">
            </div>
            <div class="invite-section-wrap">
                <div class="invite-top-border-wrap">
                    <img src="../../assets/invite-top-border.png" alt="invite-top-border" />
                </div>

                <h1 class="invite-title">We invite you to visit our restaurant</h1>
                <p class="invite-para">
                    Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam
                    vitae amet repellat repudiandae tenetur, quod corrupti consectetur
                    cum? Repudiandae dignissimos fugiat sit nam.
                </p>
                <div class="invite-img-cont">
                    <div class="invite-img-wrap">
                        <img src="../../assets/invite-img.png" alt="invite-img" />
                    </div>

                    <div class="social-wrapper">
                        <a><img src="../../assets/Group 8.svg" alt="facebook" /></a>
                        <a><img src="../../assets/Group 7.svg" alt="instagram" /></a>
                        <a><img src="../../assets/Group 6.svg" alt="twitter" /></a>
                        <a><img src="../../assets/Group 5.svg" alt="youtube" /></a>
                    </div>
                </div>

                <div class="circle-img"></div>
            </div>

            <!-- invite section ends -->
        </div>
    </section>
    <div class="full-section">
        <div class="container">
            <div class="section-3">
                <div class="section-3__top d-flex flex-column align-items-center justify-content-center mb-5">
                    <div class="feature">Our Features</div>
                    <div class="title">Why people <span>choose us?</span></div>
                    <div class="subtitle">Porro eveniet, autem ipsam vitae consequatur!</div>
                </div>
                <div class="section-3__bottom row">
                    <div class="p-4 col-sm-4 d-flex flex-wrap">
                        <div class="sc-card">
                            <object data="../../assets/Group 34581.svg"></object>
                            <div class="text-container">
                                <div class="title">Own fruit orchard</div>
                                <div class="subtitle">
                                    Langsung dari Kebun Sendiri yang
                                    tersebar di setiap provinsi yang
                                    memiliki cabang toko Jez Salad.
                                </div>
                                <div class="btn">
                                    <div>Learn more</div>
                                    <img src="../../assets/Arrow - Right.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 col-sm-4 d-flex flex-wrap">
                        <div class="sc-card">
                            <object data="../../assets/Group 34581.svg"></object>
                            <div class="text-container">
                                <div class="title">#1 Healthy Fruit Salad</div>
                                <div class="subtitle">
                                    The pioneer of healthy fruit salads that
                                    are delicious & suitable for all people
                                    with the best quality assurance.
                                </div>
                                <div class="btn">
                                    <div>Learn more</div>
                                    <object type="image/svg+xml" data="../../assets/Arrow - Right.svg"></object>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 col-sm-4 d-flex flex-wrap">
                        <div class="sc-card">
                            <object data="../../assets/Group 34581.svg"></object>
                            <div class="text-container">
                                <div class="title">100 Top Brand</div>
                                <div class="subtitle">
                                    We are one of the best brands in the
                                    Food and Beverage sector
                                    in Indonesia.
                                </div>
                                <div class="btn">
                                    <div>Learn more</div>
                                    <img src="../../assets/Arrow - Right.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-section">
        <div class="container">
            <div class="subscribe">
                <div class="top-heading">Our Subscribe</div>
                <div class="title">
                    Subscribe To Get The Latest
                    Promo from Jez Salad
                </div>
                <div class="subtitle">
                    We recommended you to subscribe to our promo program,
                    drop your email below to get daily update about us
                </div>
                <div class="input-field-container">
                    <input class="input" type="Enter your email address">
                    <div class="btn">Subscribe</div>
                </div>
            </div>
        </div>
    </div>
</div>