<div>
    <app-header></app-header>
    <div class="section-1">
            <div class="section-1__left">
                <div class="subtitle">#1 Best Healthy Salad</div>
                <div class="title"> Fastest <span>Delivery</span> & Easy <span>Pickup</span></div>
                <div class="btn_container">
                    <div class="btn-round btn-1">Reservations</div>
                    <object data="../../assets/Group 34577.svg" class="dish_icon"></object>
                    <div class="btn-2">
                        <div class="text">
                            Open Menu
                        </div>
                        <object data="../../assets/angle-right 1.svg"></object>
                    </div>
                </div>
            </div>
            <div class="section-1__right">
                <img src="../../assets/Group 34578.png" alt="burger image">
            </div>
        </div>
</div>
