<div>
    <app-header></app-header>
    <div class="full-section">
        <div class="container">
            <div class="section-1 d-flex align-items-center justify-content-between">
                <div class="section-1__left">
                    <div class="subtitle">#1 Best Healthy Salad</div>
                    <div class="title"> Fastest <span>Delivery</span> & Easy <span>Pickup</span></div>
                    <div class="btn_container">
                        <div class="btn-round btn-1">Reservations</div>
                        <object data="../../assets/Group 34577.svg" class="dish_icon"></object>
                        <div class="btn-2">
                            <div class="text">
                                Open Menu
                            </div>
                            <object data="../../assets/angle-right 1.svg"></object>
                        </div>
                    </div>
                </div>
                <div class="section-1__right">
                    <img src="../../assets/Group 34578.png" alt="burger image">
                </div>
            </div>
        </div>
    </div>
    <object class="section2-top-border" data="../../assets/Mask Group.svg"></object>
    <div class="section-2">
        <div class="section-2__left">
            <div>
                <img src="../../assets/Good Quality Product 1.png">
            </div>
            <img class="image" src="../../assets/Group 34579.png">
        </div>
        <div class="section-2__middle">
            <div class="title">
                We would love for you to visit our restaurant
            </div>
            <div class="subtitle">
                Assumenda possimus eaque illo iste, autem. Porro eveniet, autem ipsam vitae amet repellat repudiandae
                tenetur, quod corrupti consectetur cum? Repudiandae dignissimos fugiat sit nam.
            </div>
            <div class="btn-round btn">
                Read More
            </div>
        </div>
        <div class="section-2__right">
            <img class="fb-icon" src="../../assets/Group 8.svg">
            <img src="../../assets/Group 7.svg">
            <img src="../../assets/Group 6.svg">
            <img src="../../assets/Group 5.svg">
        </div>
    </div>
    <div class="section-3">
        <div class="section-3__top">
            <div class="feature">Our Features</div>
            <div class="title">Why people <span>choose us?</span></div>
            <div class="subtitle">Porro eveniet, autem ipsam vitae consequatur!</div>
        </div>
        <div class="section-3__bottom">
            <div class="card">
                <object data="../../assets/Group 34581.svg"></object>
                <div class="text-container">
                    <div class="title">Own fruit orchard</div>
                    <div class="subtitle">
                        Langsung dari Kebun Sendiri yang
                        tersebar di setiap provinsi yang
                        memiliki cabang toko Jez Salad.
                    </div>
                    <div class="btn">
                        <div>Learn more</div>
                        <img src="../../assets/Arrow - Right.svg">
                    </div>
                </div>
            </div>
            <div class="card">
                <object data="../../assets/Group 34581.svg"></object>
                <div class="text-container">
                    <div class="title">#1 Healthy Fruit Salad</div>
                    <div class="subtitle">
                        The pioneer of healthy fruit salads that
                        are delicious & suitable for all people
                        with the best quality assurance.
                    </div>
                    <div class="btn btn-color">
                        <div>Learn more</div>
                        <img src="../../assets/Arrow - Right1.svg">
                    </div>
                </div>
            </div>
            <div class="card">
                <object data="../../assets/Group 34581.svg"></object>
                <div class="text-container">
                    <div class="title">100 Top Brand</div>
                    <div class="subtitle">
                        We are one of the best brands in the
                        Food and Beverage sector
                        in Indonesia.
                    </div>
                    <div class="btn">
                        <div>Learn more</div>
                        <img src="../../assets/Arrow - Right.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash_line"></div>
</div>